body {
    background: rgb(109, 211, 109);
    font-family: "Nunito", sans-serif;
}

.blurb h2 {
    color: darkgreen;
    font-weight: 100;
    font-size: 2.5rem;
}

.blurb p {
    color: darkgreen;
    font-weight: 100;
    font-size: 1.125rem;
    line-height: 2;
}

.content {
    margin-top: 100px;
    margin-bottom: 100px;
}

#mainNavbar {
    font-size: 1.5rem;
    font-weight: 100;
}

#mainNavbar .nav-link {
    color: white;
}

#mainNavbar .nav-link:hover {
    color: #013f0b;
}

#mainNavbar .navbar-brand {
    color: #013f0b;
    font-size: 1.5rem;
}

#headingGroup span {
    color: #013f0b;
}

#headingGroup h1 {
    font-weight: 100;
    font-size: 4rem;
}

.navbar.scrolled {
    background: #1e5828;
    transition: background 500ms;
}

@media (max-width: 1200px) {
    #headingGroup h1 {
        font-weight: 100;
        font-size: 3rem;
    }

    .blurb h2 {
        font-size: 2rem;
    }
}